/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject
/.scannerwork
/config/snappy.php
/storage/debugbar
/storage
/storage/app
/storage/app/templates
composer-lock
package-lock
/public/node_modules/
config/snappy.php
public/mix-manifest.json
public/css/app.css
public/js/app.js